

/* MEDIA QUERY */

@media (min-width: 300px) and (max-width: 760px ) {
  body{
    max-width: 100px;
    max-height: 100px;
  }

	.navbar{
		font-size: small;
		margin-right: 0;
		margin-left: 0;
		padding: 0;
		text-align: center;
		text-decoration: none;
	}

	.navbar ul {
    display: flex;
		margin: 1%;
		padding:1px;
	}
   .navbar a {
		padding: 1em;
		text-decoration: none;

	}
  .section1{
    display: none;
    background-image: none;

     }
  .heading h1{
      font-size: 20px;
     }
  .image1 img{
    width: 200px;
    height: 200px;
    
  }
    
  .section1 button{
    padding: 3px 2px;
  }
  .image1{

  }

 
  .wording{
    font-size: 20px;
  }
  .secss h1{
    font-size: 40px;
  }
  .content2{
    display: grid ;
    grid-template-columns: repeat(1/1,);
  
    
    
  }
 
  .heading h1{
    font-size: 20px;

  }
  .shoez

}

@media screen and (min-width:400px) and (max-width:1440px){
  .navbar{
    display: flex;
    overflow: hidden;
    padding: 10px 20px;
    background-color: palevioletred;
  }
  .navs{
    display: flex;
    padding: 20px 32px;
  }
  .imagez{
    max-width: 90%;

  }
  .section1{
  
  @shoe1{
    max-width: 100px;
    max-height:100px;
  
}
  }
  footer{
    max-width: 100%;
    max-height: 100%;}
    
    }
@media only screen and (min-width:400px) and (max-width:1000px){
.shoez1{
max-width: 300px;
max-height: 300px;
display: flex;
}
.imagez1{
display: flex;
font-size: xx-small;
}
.minimal{
font-size: xx-small;
padding: 0%;
}
body{
max-width: 100%;
max-height: 100%;
}
footer{
max-width: 100%;
max-height: 100%;}

}





body{
  background-color: rgb(241, 232, 232);
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    padding: 3px;
  
}
body{
    background-color: rgb(233, 228, 228);
}
ul  a{
    text-decoration: none;
    padding: 3px;
    color: rgb(3, 2, 0);
   
}
ul li{
    list-style: none;
    padding: 3px;
    
}
ul button{
    background-color: palegoldenrod;
}
.nav1{
    display: flex;
    

}
.best{
  text-align: center;
  font-size: 50px;
}
.wording{
    font-size:100px;
  }
  .fix{
    color: brown;
  }
  .section1{
    display: flex;
    background-image: url(/images/background.png);
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: right;
    
  }
  .image1{
   
    margin-right: 6%;
  }
  .image{
    width: 800px;
    height: 600px;
  }
  #play{
    font-size: 35px;
    color: red;
    padding: 10px;
  }
  .button1{
    background-color: rgb(223, 0, 0);
    padding: 10px 12px;
    border-radius: 10%;
    font-size: 20px;
    
    

  }
  .shoe1{
    width: 200px;
    height: 200px;
    background-image: linear-gradient(skyblue,purple) ;
    border-radius: 20%;
  }
  .shoe2{
    width: 200px;
    height: 200px;
    background-image: linear-gradient(skyblue,deeppink);
    border-radius: 15%;
  }
  .shoe3{
    width: 200px;
    height: 200px;
    background-image: linear-gradient(pink,rgb(73, 0, 73));
    border-radius: 15%;
  }

  .shoez{
    display: flex;
    border: solid white;
    background-color: white;
    border-radius: 15%;
  }
  .shoez2{
    display: flex;
    border: solid white;
    background-color: white;
    border-radius: 15%;

  }
  .shoez3{
    display: flex;
    border: solid white;
    background-color: white;
    border-radius: 15%;
  }
  .content2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
  }
  .nike{
    font-size: 30px;
  }
  .puma{
    font-size: 30px;
  }
  .adidas{
    font-size: 30px;
  }
  .feats{
    text-align: center;
    font-size: 50px;
  }
  .men{
    color: red;
    font-size: 30px;
    margin-left: 5%;
    }
    .men a{
      color: red;
    }
    .women{
    font-size: 30px;
    margin-left: 5%;
    }
    .women a{
      color: black;

    }
    .child{
    font-size: 30px;
    margin-left: 5%;
    }
    .child a{
      color: black;

    }
    .me a{
      color: black;
    }
    .N a{
      color: black;

    }
    .S a{
      color: black;
    }
    .H a{
      color: black;
    }
    .adidass{
      width: 250px;
      height: 250px;
      background-color: white;
    }
  
    .nikess{
      width: 250px;
      height: 250px;
      background-color: white;
    }
    .nikes{
      display: flex;
    }
    .pumads{
      display: flex;
    }
    .pumaaa{
      width: 250px;
      height: 250px;
      background-color: white;
      
      
      
    }
    .days{
      background-color: white;
      border-radius: 20px;
    }
    .filass{
      display: flex;
    }
    .filad{
      width: 250px;
      height: 250px;
      background-color: white;
    }
    .adidaz{
      display: flex;
      justify-content: space-evenly;
      
    }
    .mom{
      margin: 0 40px;
    }
    .pumaz2{
      width: 250px;
      height: 250px;
      background-color: white;
    }
    .puma2{
      display: flex;
    }
    .nikez2{
      width: 250px;
      height: 250px;
      background-color: white;
    }
    .nike2{
      display: flex;

    }
    .adidaz2{
      display: flex;
    }
    .adidas2{
      width: 250px;
      height: 250px;
      background-color: white;
    }
    .adidaz3{
      display: flex;
    }
    .adidas3{
      width: 250px;
      height: 250px;
      background-color: white;
    }
    .see{
      text-align: center;
      margin-right: 6%;
    }
    .butt{
      padding: 10px 8px;
      color: red;
    }
    .sneaky{
      display: flex;
      margin-left: 7%;
      border-radius: 20px;
    }
    .sneakers{
      height: 250px;
      width: 250px;
      border-radius: 20px;
    }   
    .special{
      color: rgb(204, 59, 6);
      font-size: 30px;
    }
    .s{
      color: red;
    }
    .dol{
      color: rgb(201, 8, 8);
    }
    .buts{
      padding: 10px 12px ;
      background: linear-gradient(red,orange);
      padding: 6px 14px;
    } 
    .but{
      padding: 10px 12px ;
      border: solid rgb(230, 66, 16);
      background-color: white;
      padding: 6px 14px;
    }
    .statistics{
      display: flex;
      margin-top: 5%;
      margin-left: 7%;
    }
    .Test{
      color:rgb(216, 14, 14);
      font-size: 25px;
    }
    .what{
      font-size: 50px;
    }
    .avatar{
  
      vertical-align: middle;
      width: 50px;
      height: 50px;
      border-radius: 50%;
  
  }
  .stats{
    margin-left: 10%;
    border: solid aliceblue;
    
    background-color: white;
  }
  .cir{
  
    height: 25px;
    width: 25px;
    background-color: #d13696;
    border-radius: 50%;
    display: inline-block;
  }
  .subscribe{
    text-align: center;
    background-color: rgb(247, 188, 198);
    margin-top: 5%;
    border-radius: 40px;

    border: solid rgb(241, 202, 208) ;
    margin-left: 7%;
   
  
    
  
  
  }
  .sub{
    font-size: 30px;
  }
  input{
    padding: 15px;
  }
  .button{
    padding: 15px;
    color: rgb(100, 30, 30);
    background-color: rgb(211, 39, 39);
  }
  .lorem{
    color: white;
  }

  .new{
   font-size:50px;
  }
  .butt{
    padding: 10px 8px;
    color: red;
  }
  .find{
    background-color: rgb(216, 14, 14);
  }
  .alls{
    display: flex;
  }
  .image{
    width: 20cm;
    height: 20cm;
  }
  
  .main{
  
      padding: 1.25rem;
      min-width: 12.5rem;
  }
  .divs{
    display: flex;
  
  }
  .ul{
    padding-left: 0%;
  }
 .main a{
    color: white;
    text-decoration: none;
  }
  footer{
  background-color: rgb(234, 34, 34);
  margin-top: 5%;
  }
  .google{
    width: 60px;
    height: 30px;
  }
  .apple{
    width: 60px;
    height: 30px;
  }
  main ul a{
    color: white;
  }

  .navbars{

    display: flex;
    overflow: hidden;
    padding: 10px 20px;
 
  
}

.navs1 a{
   
    float: right;
    
    color: #070303;
    
    padding: 18px 24px;
    text-decoration: none;
    
  }
  .navs1{
    display: flex;
    flex-direction: row;
    padding: 16px 24px;

  }
  @media screen and (min-width:400px) and (max-width:1440px){
    .navbars{
      display: flex;
      overflow: hidden;
      padding: 10px 20px;
      background-color: palevioletred;
    }
    .navs1{
      display: flex;
      padding: 20px 32px;
    }
    .imagez1{
      max-width: 90%;

    }
    .containers1{
    
    @shoe1{
      max-width: 100px;
      max-height:100px;
    
  }
    }
}
@media only screen and (min-width:400px) and (max-width:1000px){
.shoez1{
  max-width: 300px;
  max-height: 300px;
  display: flex;
}
.imagez1{
  display: flex;
font-size: xx-small;
}
.minimal{
  font-size: xx-small;
  padding: 0%;
}
body{
  max-width: 100%;
  max-height: 100%;
}
footer{
  max-width: 100%;
  max-height: 100%;}

}


  


body{
    background-color: rgb(241, 232, 232);
}


.imgs1{
    width: 150px;
    height: 150px;
}
.imgs2{
    width: 150px;
    height: 150px;
}
.imgsing3{
    width: 150px;
    height: 150px;
}
.m{
    font-size: 30px;
}
.l{
    font-size: 30px;
}
.x{
    font-size: 30px;
}
.xx{
    font-size: 30px;
}
.dot {
    height: 30px;
    width: 30px;
    background-color: hotpink;
    border-radius: 50%;
    display: inline-block;
    font-size: 30px;
  }
  .sizes{
    padding: 20px 10px;
  }
  .containers1{
    display: flex;
    background-repeat: no-repeat;
    background-size: contain;
    
   
    

  }
  .logo{
    width: 30px;
    height: 30px;
  }
  .shoe1z{
    width: 600px;
    height: 600px;
    background-color: white;

 

    
  }
  .imging5{
    width: 200px;
    height: 250px;
  }
  .imging6{
    width: 200px;
    height: 250px;
  }
  .imging7{
    width: 200px;
    height: 250px;
  }
  .imging8{
    width: 200px;
    height: 250px;
  }
  .containerss4{
    display: flex;
    justify-content: space-evenly;
    

  }
  .mains{

    padding: 20px;
    min-width: 10px;
    color: white;
}
.divss{
    display: flex;
  }
  .ul{
    padding-left: 0%;
  }
  a{
    color: white;
    text-decoration: none;
    
  }
  footer{
  background-color: rgb(243, 66, 66);
  margin-top: 8%;
  }
  .copys{
    color: white;
    text-align: center;
  }
  .mains a{
    color: white;
  }
  .imgg5{
    background-color: white;
  
  }
  .imggs8{
    background-color: white;
  }
  .imggs7{
    background-color: white;
  }
  .imggs6{
    background-color: white;
  }
  .google{
    width: 50px;
    height: 50px;
  }
  .apple{
    width: 50px;
    height: 50px;
  }
  .mens{
    color: rgb(238, 17, 17);
    font-size: 30px;
  }
  .off{
    color: rgb(238, 17, 17);
  }
.price{
    font-size: 30px;
}
.size{
    color:rgb(238, 17, 17) ;
    padding-left: 30px;
    font-size: 20px;
}
.order{
  color: red;
  border: solid red;
  padding: 4px 4px;
}
#add{
  padding: 4px 4px;
  background-image: linear-gradient(rgb(202, 20, 50),rgb(255, 0, 225));
}
.product{
  color: grey;
}
.care{
  color: grey;
}
.black{
  font-size: larger;
}
.wa{
  font-size: larger;
}
.sold{
  color: grey;
}
.pos{
  font-size: larger;
}
.head{
  text-align: center;
  font-size: 60px;
}
@media(max-width: 1150px){
  .mains{
    padding: 15px;
    min-width: 10px;
  }
}
.minimal{
  font-size: 20px;
}
 
.navbar3{

  display: flex;
  overflow: hidden;
  padding: 10px 20px;


}
.navs3{
  display: flex;
  padding: 20px 32px;
}
.navs3 a{
   
  float: right;
  
  color: #070303;
  
  padding: 18px 24px;
  text-decoration: none;
  
}
.jordan{
  width: 400px;
  height: 450px;
  border-radius: 5%;
}
.firstbox{
display: flex;
gap: 1rem;
margin-left: 5%;
 
}
.navs3 button{
  padding: 5px 5px;
}
.firstbox1{
  gap: 1rem;
  margin-left: 5%;
   
  }
.red{
  width: 400px;
  height: 500px;
  border-radius: 5%;
}
.vision{
display: flex;
}
.approach{
  display: flex;
} 
 .mains{

  padding: 20px;
  min-width: 10px;
  color: white;
}
.divss{
  display: flex;
}
.ul{
  padding-left: 0%;
}
a{
  color: white;
  text-decoration: none;
  
}
footer{
background-color: rgb(243, 66, 66);
margin-top: 8%;
}
.copys{
  color: white;
  text-align: center;
}
.mains1 a{
  color: white;
}
.navbar4{

  display: flex;
  overflow: hidden;
  padding: 10px 20px;


}
.navs4{
  display: flex;
  padding: 20px 32px;
}
.navs4 a{
   
  float: right;
  
  color: #070303;
  
  padding: 18px 24px;
  text-decoration: none;
  
}
input{
  width: 500px;
  border-radius: 20px;
}
.us{
  font-size: 60px;
  text-align: center;
}
.short{
  font-size: 60px;
  text-align: center;
}
.short1{
  font-size: 20px;
  font-weight: bold;
}
.short2{
  font-size: 20px;
  font-weight: bold;
}
.shorts{
  background: linear-gradient(red,rgba(133, 19, 123, 0.973));
  padding: 14px 40px;
}





